body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: darkslategray;
  color: white;
}

img {
  width: 100%;
  border: 2px solid black;
  border-radius: 25px;
}

/* General */

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
}

.title {

}

/* Car-list */

.car-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Radios */

.radios {
  gap: 10px;
  margin-bottom: 20px;
}

/* Car-card */

.car-card-link {
  text-decoration: none;
}

.car-card {
  border: 1px solid darkcyan;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  transition: all 0.5s ease;
}

.car-card:hover {
  transform: scale(1.05);
  background: cadetblue;
}

.car-card h2,
.car-card P {
  color: white;
}

.car-image {
  width: 100%;
  border-radius: 8px;
}

.car-title {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
}

.car-brand,
.car-price,
.car-rating,
.car-description,
.car-availability,
.car-warranty {
  margin: 4px 0;
  color: #555;
}

.car-price {
  color: #e91e63;
  font-weight: bold;
  font-size: 18px;
}

/* Testimonials */

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  max-width: 300px;
  border: 2px solid black;
}

.testimonial-review {
  color: darkblue;
}

/* Car-details */

.car-details-page .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.car-details-page .container a {
  text-decoration: none;
  color: white;
}

.car-details-image {
  border: 2px solid black;
  border-radius: 25px;
}

.car-detail-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.review-form {
  display: flex;
  flex-direction: column;
  margin-block: 0 50px;
}

